<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Visitor Management</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">

    <h1 id="one">Visitors Management System</h1>
    <h3 id="two"><b><i>Pearson Specter List</i></b></h3>

    <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <hr />

    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email Id</th>
          <th>Mobile Number</th>
          <th>Checked In</th>
          <th>Checked Out</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr>
          <td>{{ id }}</td>
          <td>{{ name }}</td>
          <td>{{ email_id }}</td>
          <td>{{ mobile_no }}</td>
          <td>{{ checkin }}</td>
          <td>{{ checkout }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id }}" data-name="{{ name }}"
              data-email_id="{{ email_id }}" data-mobile_no="{{ mobile_no }}" data-checkin="{{ checkin }}"
              data-checkout="{{ checkout }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!-- Add New Product Modal-->
  <form action="/save" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Visitor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Name" required>
            </div>

            <div class="form-group">
              <input type="text" name="email_id" class="form-control" placeholder="Email Id" required>
            </div>
            <div class="form-group">
              <input type="text" name="mobile_no" class="form-control" placeholder="Mobile Number" required>
            </div>
            <div class="form-group">
              <input type="text" name="checkin" class="form-control form_datetime1" placeholder="Check In" required>
            </div>
            <!--<div class="form-group">
                   <input type="text" name="checkout" class="form-control" placeholder="Check Out" required>
               </div>-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Edit Product Modal-->
  <form action="/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Visitor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <input type="text" name="checkout" class="form-control checkout form_datetime2" placeholder="Check Out"
                required>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="visitor_id">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Delete Product Modal-->
  <form id="add-row-form" action="/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Are You Sure To Delete This Data?</strong>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="product_id" class="form-control visitor_id2" required>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/bootstrap-datetimepicker.js"></script>
  <script>
    $(document).ready(function () {
      //showing data to modal for edit record
      $('#mytable').on('click', '.edit', function () {
        var id = $(this).data('id');
        var checkout = $(this).data('checkout');
        $('#EditModal').modal('show');
        $('.checkout').val(checkout);
        //$('.price').val(product_price);
        $('.visitor_id').val(id);
      });
      //showing modal for delete record
      $('#mytable').on('click', '.delete', function () {
        var id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.visitor_id2').val(id);
      });

      $('.form_datetime1').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
      });

      $('.form_datetime2').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
      });

    });
  </script>
</body>

</html>